/*----------------------------------------------------------------------------------------------------------------------------*/
/*                                                        SETUP STYLES                                                        */
/*----------------------------------------------------------------------------------------------------------------------------*/

/* modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
@layer{*,::before,::after{box-sizing:border-box}html{font-family:system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";line-height:1.15;-webkit-text-size-adjust:100%;-moz-tab-size:4;tab-size:4}hr{height:0;color:inherit}abbr[title]{text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp,pre{font-family:ui-monospace,SFMono-Regular,Consolas,"Liberation Mono",Menlo,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}table{text-indent:0;border-color:inherit}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}::-moz-focus-inner{border-style:none;padding:0}:-moz-focusring{outline:1px dotted ButtonText}:-moz-ui-invalid{box-shadow:none}progress{vertical-align:baseline}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}}

/* minireset v0.0.6 | MIT License | https://github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*                                                        BASE STYLES                                                         */
/*----------------------------------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: "Recursive";
    font-style: oblique 0deg 15deg;
    font-weight: 300 1000;
    font-display: swap;
    src: url("assets/fonts/recursive-v1.085.woff2") format("woff2");
    unicode-range: U+0020-007F, U+00A9, U+2190-2193, U+2018, U+2019, U+201C, U+201D, U+2022;
}

html {
  --background-colour-body: hsl(0 0% 95%);
  --background-colour: hsl(0 0% 87%);
  --font-colour: hsl(0 0% 25%);
  --invalid-colour: hsl(2 100% 44%);
  --out-of-range-colour: hsl(35 89% 48%);
  --ease-out: cubic-bezier(0.2, 0.5, 0.25, 1);
  --drop-shadow: 0 0 calc(2rem / 16);
  --text-shadow: 0 calc(1rem / 16) calc(1rem / 16) currentColor;
  --border-radius: 1rem;
  --spacing: 1.5rem;
}

html[data-theme="dark"] {
  --background-colour-body: hsl(0 0% 25%);
  --background-colour: hsl(0 0% 13%);
  --font-colour: hsl(0 0% 95%);
}

body, button, input, kbd {
    font-family: "Recursive", sans-serif;
    font-variation-settings: "CASL" 1, "CRSV" 1, "slnt" var(--recursive-slant, 0), "MONO" var(--recursive-mono, 0);
    letter-spacing: calc(1rem / 16);
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-block-size: 100svb;
    background-color: var(--background-colour-body);
    color: var(--font-colour);
}

img {
    display: block;
    max-inline-size: 100%;
}

.wrapper {
    max-inline-size: calc(1366rem / 16);
    inline-size: 90%;
    margin-inline: auto;
}

button {
    background-color: var(--background-colour);
    color: inherit;
    font-size: 1.25rem;
    font-weight: 800;
    border: calc(2rem / 16) solid var(--background-colour);
    border-radius: var(--border-radius);
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration-style: wavy;
    padding-inline: calc(2rem / 16);
    margin-inline: calc(-2rem / 16);
}

a:where(:hover, :focus-visible) {
    outline: calc(2rem / 16) solid currentColor;
    outline-offset: 0.25rem;
    border-radius: 0.25rem;
    font-weight: 500;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}

a:active {
    font-weight: 750;
}

.new-tab, ul {
    display: flex;
}

.new-tab svg {
    inline-size: 1rem;
    margin-inline-start: 0.75rem;
}

li {
    list-style-type: none;
}

::selection {
    background-color: var(--font-colour);
    color: var(--background-colour);
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*                                                        HEADER STYLES                                                       */
/*----------------------------------------------------------------------------------------------------------------------------*/

header {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--background-colour);
    border-start-start-radius: var(--border-radius);
    border-start-end-radius: var(--border-radius);
    padding: var(--spacing);
    padding-block-start: 1rem;
}

header > div {
    grid-area: 1 / 1;
}

h1 {
    font-size: 4rem;
}

h1 + p {
    font-weight: 850;
    line-height: 1.3;
}

.theme {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-self: end;
    column-gap: 1rem;
    translate: 0 0.25rem;
}

#icon {
    padding: 0.5rem;
}

#icon img {
    inline-size: 2.5rem;
}

.tooltip {
    display: none;
    min-inline-size: 8rem;
    border-radius: 0.75rem;
    background-color: var(--font-colour);
    color: var(--background-colour);
    font-weight: 500;
    text-align: center;
    text-shadow: var(--text-shadow);
    filter: drop-shadow(var(--drop-shadow) var(--font-colour));
    padding-block: 0.5rem;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*                                                        MAIN STYLES                                                         */
/*----------------------------------------------------------------------------------------------------------------------------*/

main {
    position: relative;
    background-color: var(--background-colour);
    border-inline: var(--spacing) solid var(--background-colour);
    font-weight: 500;
    text-align: center;
}

main > * {
    background-color: var(--background-colour-body);
    border-radius: var(--border-radius);
    box-shadow: 0 0 0.25rem inset;
    padding: var(--spacing);
}

main[data-loading="true"] section,
main[data-loading="false"] .loading {
    display: none;
}

.centre {
    display: grid;
    place-items: center;
    row-gap: var(--spacing);
    block-size: 100%;
}

.underline {
    text-decoration-line: underline;
}

h2 {
    font-size: 1.5rem;
    font-weight: 900;
}

html[data-theme="light"] .comic img {
    mix-blend-mode: multiply;
}

html[data-theme="dark"] .comic img {
    filter: brightness(0.8) contrast(1.2);
}

.comic img {
    animation: fade-in 0.5s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

main button {
    block-size: calc(50rem / 16);
}

.comic-buttons {
    display: flex;
    gap: var(--spacing);
}

.comic-buttons button {
    inline-size: calc(120rem / 16);
}

form {
    display: grid;
    grid-template-columns: calc(240rem / 16) calc(60rem / 16);
    row-gap: 0.25rem;
    font-size: 1.25rem;
}

label {
    grid-column: 1 / -1;
    text-align: initial;
}

input {
   -moz-appearance: textfield;
    background-color: transparent;
    color: inherit;
    font-weight: 600;
    border: 0.25rem solid var(--background-colour);
    border-start-start-radius: var(--border-radius);
    border-end-start-radius: var(--border-radius);
    padding-inline-start: 0.75rem;
}

input:focus-visible {
    background-color: var(--background-colour);
    outline: calc(2rem / 16) solid currentColor;
    filter: drop-shadow(var(--drop-shadow));
    transition: filter 0.2s var(--ease-out);
}

input:not(:placeholder-shown):invalid {
    outline-color: var(--invalid-colour);
}

input:not(:placeholder-shown):not(:in-range) {
    outline-color: var(--out-of-range-colour);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
   -webkit-appearance: none;
    margin: 0;
}

form button {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
    padding: 0.25rem 0 0;
    margin-inline-start: -0.25rem;
}

form svg {
    inline-size: 1.5rem;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.keyboard ul {
    column-gap: 0.5rem;
}

kbd {
  --recursive-mono: 1;
    background-color: var(--font-colour);
    color: var(--background-colour);
    filter: drop-shadow(var(--drop-shadow) var(--font-colour));
    font-weight: 700;
    letter-spacing: initial;
    border-radius: 0.25rem;
    padding-inline: 0.25rem;
}

noscript {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    font-size: clamp(1.5rem, 1.347rem + 0.7648vi, 2rem);
    font-weight: 700;
    text-shadow: var(--text-shadow);
}

.error {
    place-content: center;
    font-weight: initial;
}

/* generated by https://loading.io */
.loadingio-spinner {
    inline-size: calc(200rem / 16);
    aspect-ratio: 1;
}

.loadingio-spinner-outer {
    position: relative;
}

.loadingio-spinner-inner {
    position: absolute;
    inset-block-start: calc(20rem / 16);
    inset-inline-start: calc(20rem / 16);
    inline-size: calc(160rem / 16);
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0 0.25rem var(--font-colour);
    transform-origin: calc(80rem / 16) calc(82rem / 16);
    animation: loading 4s linear infinite;
}

@keyframes loading {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*                                                        FOOTER STYLES                                                       */
/*----------------------------------------------------------------------------------------------------------------------------*/

footer {
    display: flex;
    justify-content: center;
    background-color: var(--background-colour);
    border-end-start-radius: var(--border-radius);
    border-end-end-radius: var(--border-radius);
    padding-block: var(--spacing);
}

small {
    font-size: 100%;
}

:where(small, li.new-tab:not(:last-child))::after {
    content: '|';
    padding-inline-start: calc(var(--spacing) / 2);
    margin-inline-end: calc(var(--spacing) / 2);
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*                                                        MEDIA QUERIES                                                       */
/*----------------------------------------------------------------------------------------------------------------------------*/

@media (prefers-color-scheme: dark) {
    html {
      --background-colour-body: hsl(0 0% 25%);
      --background-colour: hsl(0 0% 13%);
      --font-colour: hsl(0 0% 95%);
    }

    html[data-theme="light"] {
      --background-colour-body: hsl(0 0% 95%);
      --background-colour: hsl(0 0% 87%);
      --font-colour: hsl(0 0% 25%);
    }
}

@media (prefers-reduced-motion: no-preference) {
    /* Grow Decovar Demo | https://variablefonts.dev/posts/grow-decovar-demo */
    @font-face {
        font-family: "Decovar";
        src: url("assets/fonts/decovar.ttf");
    }

    h1 {
        font-family: "Decovar";
        font-variation-settings: "INLN" 400, "SWRM" 1000;
        animation: grow 3s linear infinite alternate;
    }

    @keyframes grow {
        from {
            font-variation-settings: "INLN" 400, "SWRM" 1000;
        }
        to {
            font-variation-settings: "INLN" 400, "SWRM" 0;
        }
    }

    .loadingio-spinner-inner {
        animation-duration: 2s;
    }
}

@media (any-hover: hover) {
    button:where(:hover, :focus-visible) {
      --recursive-slant: -15;
        font-style: italic;
        outline: calc(2rem / 16) solid currentColor;
        filter: drop-shadow(var(--drop-shadow));
        transition: filter 0.2s var(--ease-out);
    }

    #icon:where(:hover, :focus-visible) + .tooltip {
        display: revert;
    }

    input:not(:placeholder-shown):invalid + button:where(:hover, :focus-visible) {
        outline-color: var(--invalid-colour);
    }

    input:not(:placeholder-shown):not(:in-range) + button:where(:hover, :focus-visible) {
        outline-color: var(--out-of-range-colour);
    }
}

@media (scripting: none) {
    .loading {
        display: none;
    }
}

@media (height > calc(1024rem / 16)) {
    .centre {
        place-content: center;
        row-gap: calc(var(--spacing) * 2);
    }
}

@media (width <= calc(700rem / 16)) {
    .wrapper {
        inline-size: 100%;
    }

    header {
        padding-inline: 1rem;
    }

    main {
        border-inline-width: 1rem;
    }

    header, footer {
        border-radius: 0;
    }
}

@media (width <= calc(650rem / 16)) {
    .theme {
        align-self: start;
        translate: 0 calc(6rem / 16);
    }

    .comic-buttons {
        flex-direction: column;
    }

    .comic-buttons button {
        inline-size: calc(180rem / 16);
    }
}

@media (width <= calc(550rem / 16)) {
    .keyboard p {
        flex-basis: 100%;
    }

    footer {
        flex-direction: column;
        align-items: center;
        row-gap: 0.5rem;
    }

    small::after {
        content: none;
    }
}

@media (width <= calc(400rem / 16)) {
    form {
        grid-template-columns: calc(170rem / 16) calc(50rem / 16);
        font-size: 1rem;
    }
}

@media print {
    body {
        min-block-size: fit-content;
    }

    .wrapper {
        inline-size: 100%;
    }

    header {
        place-items: center;
        text-align: center;
        border-radius: 0;
    }

    main {
        background: none;
        border: none;
    }

    main > * {
        box-shadow: none;
    }

    .theme, section > *:not(.comic), footer {
        display: none;
    }
}